# Salin file ini menjadi .env dan isi path dataset lokal kamu
# Hanya diperlukan jika menjalankan di lokal (bukan Google Colab)

DATASET_ROOT=
# Contoh Windows : DATASET_ROOT=D:/Documents/GCD
# Contoh Mac/Linux: DATASET_ROOT=/home/username/datasets/GCD
